/*Grande parte desse código NÃO FOI foi copiado do css da página de configurações do Google Chrome {{troll}}, he-he
*/ 
input.text {
       background: transparent;
       height: 22px;
}

input.text:hover {
       -webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,0.1);
       border: #007eff solid 2px;
}

input.text:focus {
       background: #e4e4e4;
       border: #000000 solid 2px;
}
input.text2 {
       border: 1px solid #000000;
       background: transparent;
       height: 22px;
}

input.text2:hover {
       -webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,0.1);
       border: #007eff solid 1px; 
}

input.text2:focus {
       background: #e4e4e4;
       border: #000000 solid 2px;
}
